[Unit]
Description=RFCOMM service
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/opt/rfcomm.sh

[Install]
WantedBy=multi-user.target
